/* Header */

.logo {
  width: 50%;
  padding-top: 3em;
  display: block;
  margin: auto;
}


.intro {
  text-align: center;
  font-size: 40px;
}


h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 1.5em;
}

header {
				text-align: center;
        background-color: #30576E;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.special-pg {
  margin-top: 3em;
  font-size: 35px;
}

.Specials {
  font-size: 30px;
}

img {
  max-width: 100%;
}

.team, .location {
  text-align: center;
  font-size: 25px;
}

/* H2 & H3 Styles */

.special-p, .phone, .items, .about-p, .directions, .welcome-p {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.welcome-p, .aboutus {
  margin: auto;
  font-size: 18px;
  width: 55%;
  padding-bottom: 5em;
}

.special-p, .phone, .items, .about-p, .directions, .welcome-p {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.phone, .items {
  padding-top: 2em;
}

  /* Body */

    /* Navigation */

  nav ul {
      font-family: 'Josefin Sans', sans-serif;
      justify-content: space-between;
      list-style-type: none;

  }
  nav a {
  color: #F9E9CA;
  display: inline-block;
  text-decoration: none;
  }

  figure {
    width: 90%;
    padding-bottom: 4em;
    text-align: center;
  }

  figcaption {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: .5em;
    font-size: 20px;
  }

  @media screen and (max-width: 750px) {
    p {
      font-size: 20px;
    }
    .logo {
      display: block;
      margin: auto;
    }
    h2, h3 {
      font-size: 30px;
    }
  }

@media screen and (min-width: 750px) {
  .specials {
    display: flex;
width: 50%;
margin: 0 auto;
justify-content: space-between;
  }
  .specials img {
    width: 200px
  }
  nav ul {
      font-family: 'Josefin Sans', sans-serif;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 2em;
}
nav a {
  color: #F9E9CA;
  text-decoration: none;
}
}
.map {
  display: block;
  margin: auto;
}



    /* carousel */

.carousel-cell {
    width: 100%;
    padding-top: 4em;
    text-align: center;
}

.carousel-cell img {
    width: 55%;
    height: auto;
}

.carousel:after {
  content: 'flickity';
  display: none;
}

  /* contact */

  input[type=text], select, textarea {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #30576E;
    color: #F9E9CA;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #30576E;
}

.container {
  font-family: 'Josefin Sans', sans-serif;
  color: #30576E;
  background-color: #F9E9CA;
  padding: 20px;
  width: 50%;
  align-content: center;
  margin: auto;
}

/* Table */

table {
    padding-bottom: 3em;
    margin: auto;
    width: 75%;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}


td {
  padding: 10px;
  margin: auto;
  text-align: center;
}

th {
    background-color: #2F576E;
    height: 50px;
    padding-top: .8em;
    padding-bottom: .8em;
    text-align: center;
    color: #9A7745;
    letter-spacing: .8px;
  }

  tr:nth-child(even) {background-color: #F9E9CA;}

  /* Footer */

  footer {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    background-color: #30576E;
    margin-top: 5em;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
    opacity: 0.7;
}

  .fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
